@import 'tailwindcss';

@config '../../../config/tailwind.config.js';

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light-ginlog";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(0.3211 0 0);
  --color-primary: oklch(0.7862 0.0526 146.8);
  --color-primary-content: oklch(97.02% 0 0);
  --color-secondary: oklch(0.924 0.0086 128.56);
  --color-secondary-content: oklch(0.68 0.0526 146.8);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(0.9153 0.0174 106.74);
  --color-neutral-content: oklch(38% 0.063 188.416);
  --color-info: oklch(82% 0.111 230.318);
  --color-info-content: oklch(39% 0.09 240.876);
  --color-success: oklch(84% 0.143 164.978);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(87% 0.169 91.605);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(81% 0.117 11.638);
  --color-error-content: oklch(41% 0.159 10.272);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}


/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
