<h1 class="text-4xl text-green-700 font-semibold underline">Hello,world</h1>
<div class="mt-10">
  <button class="bg-gray-900 hover:bg-gray-800 text-white rounded-sm px-4 py-2">tailwind</button>
  <button class="btn btn-primary">daisyUI</button>
</div>

<div>
  <span class="material-symbols-rounded">home</span>
  <span class="material-symbols-rounded ms-size-48">favorite</span>
  <span class="material-symbols-rounded dark">settings</span>
  <span class="material-symbols-rounded ms-size-40 ms-fill">home</span>
  <span class="material-symbols-rounded " style="color: green;">search</span>
  <span class="material-symbols-rounded ms-size-40 ms-fill" style="color: blue;">home</span>
</div>