<% content_for :title,  t('.title') %>

<div class="w-full">
  <%= page_heading %>
  <div id="sake_logs" class="flex flex-col gap-0 divide-y">
    <% if @sake_logs.any? %>
      <%= render @sake_logs %>
    <% else %>
      <p class="text-center my-10">まだ記録がありません</p>
    <% end %>
  </div>
</div>
