<h1 class="text-4xl text-green-700 font-semibold underline">Hello,world</h1>
<div class="mt-10">
  <button class="bg-gray-900 hover:bg-gray-800 text-white rounded-sm px-4 py-2">tailwind</button>
  <button class="btn btn-primary">daisyUI</button>
</div>
<br>

<div>
  <span class="text-sm">text-sm</span>
  <span class="text-sm sm:text-3xl">text-3xl</span>
</div>

<div>
  <span class="material-symbols-rounded">home</span>
  <span class="material-symbols-rounded ms-size-48">favorite</span>
  <span class="material-symbols-rounded dark">settings</span>
  <span class="material-symbols-rounded ms-size-40 ms-fill">account_circle</span>
  <span class="material-symbols-rounded " style="color: green;">search</span>
  <span class="material-symbols-rounded ms-size-40 ms-fill" style="color: blue;">home</span>
</div>
<div class="">
  <% 5.times do %>
    <p class="text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <span class="material-symbols-rounded ms-size-40 ms-fill">account_circle</span>
  <% end %>
</div>