<% content_for :title,  t('.title') %>

<div class="w-full">
  <%= page_title %>

  <%= render "form", sake_log: @sake_log %>

  <%= link_to "一覧に戻る", sake_logs_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
