<footer class="fixed bottom-0 w-full bg-base-200 px-4 py-4">
  <div class="flex justify-evenly gap-4 max-w-screen-xl mx-auto">
    <span class="material-symbols-rounded text-xl sm:text-2xl">home</span>
    <span class="material-symbols-rounded text-xl sm:text-2xl">search</span>
    <span class="material-symbols-rounded text-xl sm:text-2xl">add_circle</span>
    <span class="material-symbols-rounded text-xl sm:text-2xl">lists</span>
    <span class="material-symbols-rounded text-xl sm:text-2xl">star</span>
  </div>
</footer>