.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


/* アイコンサイズ */
span.ms-size-16 {
  font-size: 16px;
  font-variation-settings: 'OPSZ' 20;
}

span.ms-size-20 {
  font-size: 20px;
  font-variation-settings: 'OPSZ' 20;
}
span.ms-size-24 {
  font-size: 24px;
  font-variation-settings: 'OPSZ' 24;
}
span.ms-size-40 {
  font-size: 40px;
  font-variation-settings: 'OPSZ' 40;
}
span.ms-size-48 {
  font-size: 48px;
  font-variation-settings: 'OPSZ' 48;
}

span.ms-size-64 {
  font-size: 64px;
  font-variation-settings: 'OPSZ' 48;
}

span.ms-size-80 {
  font-size: 80px;
  font-variation-settings: 'OPSZ' 48;
}

/* 塗りつぶし設定 */
span.ms-fill {
  font-variation-settings:
  'FILL' 1,
  'wght' 700;
}


/* 明るい背景に黒としてアイコンを使用する際のルール */
.dark {
  background: black;
  color: rgba(255, 255, 255, 1);
  font-variation-settings: 'GRAD' -25;
}
.dark-inactive {
  background: black;
  color: rgba(255, 255, 255, 0.3);
  font-variation-settings: 'GRAD' -25;
}
